* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
}
#root {
  background-color: #f8f9fa;
}
.card-container {
  padding: 5vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.card {
  text-align: center;
  width: 15%;
  height: 25vh;
  transition: width 0.5s;
}
.card:hover {
  width: 20%;
  height: 30vh;
}
.card img {
  max-width: 100%;
  height: 100%;
}
.img-wrapper {
  height: 90%;
  width: 100%;
  overflow: hidden;
}

.item-detail {
  width: 100%;
  height: 100%;
}
.item-container {
  text-align: center;
  width: 80%;
  height: 100%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 768px) {
  .item-container {
    width: 100%;
  }
  .card {
    width: 20%;
  }
}
.item-detail img {
  max-width: 100%;
  height: 100%;
}
